<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
        <div class="container">
            <h1>Lista de Tarefas</h1>
            <div id="tarefas">
                <ul id="lista-tarefas"></ul>
            </div>
            <div id="formulario">
                <input type="text" id="nova-tarefa" placeholder="Nova Tarefa">
                <button onclick="adicionarTarefa()">Adicionar</button>
            </div>
        </div>
    <script src="./src/js/script.js"></script>
</body>
</html>
